<!-- This is My Question page !-->
<div class="container">
	<h1>My Questions</h1>
		<% @questions.each do |x| %>
	<div class="row">
		<%= x.full_question %>
	</div>
		<% end %>
</div>

<a href="/homepage">Back to Profile Page</a>
