<!-- This is answer index !-->
<div class="container">
	<div class="row">
		<div class="col-sm-2 sidebar">
			<!-- Sidebar menu !-->
			<h3>Categories</h3>
			<div class="border-thick"></div>
			<ul>
				<li><a href="/read">Top Stories</a></li>
				<li><a href="#" class="selected">My Questions</a></li>
				<li><a href="/my_answers">My Answers</a></li>
			</ul>
		</div>
		<div class="col-sm-10">
			<h2>Ask your question</h2>
			<form id="question" action="/questions" method="post">
			<textarea name="description"></textarea>
			<input type="submit" value="Ask!">
		</form>
		</div>
	</div>
</div>