<div class="container">
	<div class="form-controller">
		<div class="row">
			<img src="img/quora-logo.jpg">
		</div>
		<div class="row">
			<div class="col-sm-6">
				<form id="signup" action="/users" method="post">
					<table>
						<tr>
							<td><input type="text" name="full_name" placeholder="Full Name"></td>
						</tr>
						<tr>
							<td><input type="text" name="email" placeholder="Email"></td>
						</tr>
						<tr>
							<td><input type="text" name="password" placeholder="Password"></td>
						</tr>
						<tr>
							<td><input type="submit" value="Sign Up"></td>
						</tr>
						<tr>
							<td>Error:<%= @flash_msg %></td>
						</tr>
					</table>
				</form>
			</div>
			<div class="col-sm-6">
				<form id="login" action="/login" method="post">
					<table>
						<tr>
							<td><input type="text" name="email" placeholder="Email"></td>
						</tr>
						<tr>
							<td><input type="text" name="password" placeholder="Password"></td>
						</tr>
						<tr>
							<td><input type="submit" value="Login"></td>
						</tr>
						<tr>
							<td>Error:<%= @login_msg %></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>