This is reading section. You are logged in,

<h1>WELCOME <%= @current_user.full_name %></h1>


<form id="signup" action="/logout" method="post">
	<button type="submit" class="btn-link">Log out</button>

</form>