<html>
	<head>
		<title>The Techy Quora App</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
		<link rel="icon" href="img/favicon.png" type="image/x-icon">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/application.css">

	</head>
	<body>
		<!-- Content in Rails !-->
		<%= yield %>

		<section id="footer">
			<div class="container">
				© 2016 - Ee Soon Seng / Sept 2016
			</div>
		</section>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/application.js"></script>

	</body>

	
</html>

